* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}


header {
    height: 65px;
    font-size: 13px;
}

.header_left, .header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_left {
    margin: -2px 0 0 9px;
}

.header_right {
    padding-left: 30px;
    padding-right: 30px;
    width: 282px;
    justify-content: space-between;
}

.header_left a {
    padding-left: 15px;
    opacity: 0.75;
    margin-left: 2px;
}

header li a {
    color: #222;
    text-decoration: none;
}

.logo_menu {
    width: 24px;
    height: 24px;
    opacity: 0.55;
}

.sign_in {
    color: #fff;
    font-weight: bold;
    border: 1px solid #4285f4;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
    display: inline-block;
    background-image: linear-gradient(rgb(67, 135, 253), rgb(70, 131, 234));
}


.main {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;
}

.logo_google {
    height: 119px;
    margin-top: 133px;
}

.searchform input{
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 582px;
    padding-left: 42px;
    font-size: 16px;
}

.searchform {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}

.button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color:#f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 20px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

.logo_magnifying_glass{
    color:#9AA0A6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 20px;
    position: relative;
}

.logo_magnifying_glass svg {
    display: block;
    height: 100%;
    width: 100%;
    margin-left: 38px;
    margin-top: 4px;
}

.logo_microphone {
    background: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') 0 0 no-repeat;
    background-size: auto;
    height: 24px;
    width: 24px;
    background-size: 24px;
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: -39px;
}

.buttons {
    padding-top: 18px;
    text-align: center;
    margin-right: 15px;
}


footer {
    height: 40px;
    font-size: 14px;
    align-items: flex-end;
    background:#f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid#e4e4e4;
}

footer a {
    color: #5f6368;
    text-decoration: none;
}
.footer_left, .footer_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_left {
    margin-left: 3px;
    width: 323px;
}

.footer_left a {
    padding-left: 27px;
}

.footer_right {
    margin-right: 30px;
    width: 216px;
}

.footer_right a {
    padding-left: 27px;
}
